[submodule "Boost-Cpp-Application-Development-Cookbook-Second-Edition"]
	path = Boost-Cpp-Application-Development-Cookbook-Second-Edition
	url = https://github.com/hundong2/Boost-Cpp-Application-Development-Cookbook-Second-Edition.git
